body {
  padding-top: 5rem;
  background-color: #272633;
}

h1 {
    font-family: 'Roboto Slab', serif;
    color: #c9d030;
}

h2 {
    font-family: 'Roboto Slab', serif;
    color: #50becf;
}

h3 {
    font-family: 'Roboto Slab', serif;
    color: #50becf;
}

h4 {
    font-family: 'Roboto Slab', serif;
    color: #50becf;
}

h5 {
    font-family: 'Roboto Slab', serif;
    color: #50becf;
}

h6 {
    font-family: 'Roboto Slab', serif;
    color: #50becf;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #f3f3f6;
}


/* Navigation Bar */

.navbar {
    background-color: #272633;
}

.navbar-dark .navbar-nav .nav-link {
  color: #f3f3f6;
}

.navbar-dark .navbar-nav .nav-link.active {
    color: #c9d030;
}

.navbar-dark .navbar-nav .nav-link:hover, 
.navbar-dark .navbar-nav .nav-link:focus {
    color: #646c7e;
}

.navbar-dark .navbar-toggler {
  border-color: #f3f3f6;
}

.navbar-dark .navbar-toggler:hover {
  border-color: #646c7e;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28243, 243, 246' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-dark .navbar-toggler-icon:hover {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28100, 108, 126' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

button:focus {
    outline: none;
}


/* Main Body */

.lead {
    font-weight: 400;
    color: #50becf;
}

.content {
    background-color: #646c7e;
}






/* Default CSS */

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}